@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);

@import url(../css/font-awesome.css);

@import url(../css/component.css);
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
hr,
main {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  position: relative;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
ul,
ol,
dl {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:hover,
a:active {
  outline: none;
}
a:focus {
  outline: thin dotted;
}
blockquote,
q {
  quotes: none;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border-top: 1px solid #ccc;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
small {
  font-size: 80%;
}
b,
strong,
th {
  font-weight: bold;
}
sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Forms
   ========================================================================== */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* ==========================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
img {
  -ms-interpolation-mode: bicubic;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/assets/templates/default/js/lib/boxsizing.htc);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  font-weight: 400;
  margin: 0 0 10px 0;
}
h1 {
  font-size: 24px;
  line-height: 20px;
}
body {
  font-family: 'Roboto', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
input,
textarea,
button {
  font-family: 'Roboto', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
}
#oldIe {
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 16px;
}
#oldIe p {
  margin: 0;
}
header,
main,
footer,
article,
aside,
section,
div header > div > nav > ul,
header > div,
footer > div {
  *zoom: 1;
}
header:before,
main:before,
footer:before,
article:before,
aside:before,
section:before,
div header > div > nav > ul:before,
header > div:before,
footer > div:before,
header:after,
main:after,
footer:after,
article:after,
aside:after,
section:after,
div header > div > nav > ul:after,
header > div:after,
footer > div:after {
  content: " ";
  display: table;
}
header:after,
main:after,
footer:after,
article:after,
aside:after,
section:after,
div header > div > nav > ul:after,
header > div:after,
footer > div:after {
  clear: both;
}
.transitions {
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
html {
  background-color: #fafafa;
}
body {
  color: #333333;
  background: url(../img/pattern.png) top left repeat;
}
header {
  height: 50px;
  width: 100%;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #fafafa;
  border-bottom: 1px solid #e1e1e1;
}
header > div {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
header > div .modxLogo {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 31px;
  height: 30px;
  background-color: transparent;
  background-image: url('../img/logo.png');
  background-position: top left;
  background-repeat: no-repeat;
  float: left;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
header > div > form {
  padding-left: 20px;
  float: left;
  width: 20.9375%;
  margin-top: 10px;
  position: relative;
}
header > div > form > input {
  background-color: #e1e1e1;
  height: 30px;
  width: 88.80597014925374%;
  padding: 0px 10px 0 10px;
  border: 1px solid #e1e1e1;
  margin: 0;
  float: left;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
header > div > form > input:hover {
  background-color: #ededed;
}
header > div > form > input:focus {
  background-color: #ffffff;
  border: 1px solid #0f90c3;
  outline: none;
}
header > div > form > button {
  border: 0;
  background-color: #0f90c3;
  color: #FFFFFF;
  text-align: center;
  width: 11.194029850746269%;
  height: 30px;
  margin: 0;
  padding: 0;
  float: left;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
header > div > form > button:hover {
  background-color: #0b6d94;
}
header > div > form > button:focus {
  background-color: #18b1ed;
}
header > div > nav {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
  height: 50px;
  width: 71.875%;
}
header > div > nav > ul {
  margin: 0;
  padding: 0;
}
header > div > nav > ul.siteNav {
  float: left;
}
header > div > nav > ul.userNav {
  float: right;
}
header > div > nav > ul > li {
  float: left;
  display: block;
  padding: 10px 10px 0 10px;
  line-height: 30px;
  margin: 0;
  height: 50px;
  position: relative;
  cursor: default;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid transparent;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
header > div > nav > ul > li:hover {
  background-color: #FFFFFF;
}
header > div > nav > ul > li.user > ul {
  right: -1px;
  left: auto;
}
header > div > nav > ul > li.user > ul > li > a.logout {
  color: #0f90c3;
}
header > div > nav > ul > li.user > ul > li > a.logout:hover {
  color: #FFFFFF;
  background-color: #0f90c3;
}
header > div > nav > ul > li.alertsMenu > span.unread {
  color: #e42d2a;
}
header > div > nav > ul > li img {
  vertical-align: bottom;
  margin-left: 5px;
}
header > div > nav > ul > li i {
  margin-right: 5px;
}
header > div > nav > ul > li > a {
  color: #333333;
  text-decoration: none;
}
header > div > nav > ul > li > ul {
  position: absolute;
  left: -1px;
  top: 50px;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  background-color: #FFFFFF;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  z-index: -1;
  width: 300px;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}
header > div > nav > ul > li > ul.alerts li {
  padding: 10px;
  line-height: 16px;
  border-bottom: 1px solid #f2f2f2;
  *zoom: 1;
}
header > div > nav > ul > li > ul.alerts li:before,
header > div > nav > ul > li > ul.alerts li:after {
  content: " ";
  display: table;
}
header > div > nav > ul > li > ul.alerts li:after {
  clear: both;
}
header > div > nav > ul > li > ul.alerts li:last-child {
  border-bottom: 0;
}
header > div > nav > ul > li > ul.alerts li:first-child:hover {
  background-color: transparent;
}
header > div > nav > ul > li > ul.alerts li:hover {
  background-color: rgba(15, 144, 195, 0.1);
}
header > div > nav > ul > li > ul.alerts li a {
  padding: 0;
  color: #e42d2a;
  border: 0;
  text-align: right;
  font-size: 11px;
  line-height: 13px;
  float: right;
  clear: right;
  display: inline-block;
}
header > div > nav > ul > li > ul.alerts li a:hover {
  color: #c21b19;
  background-color: transparent;
}
header > div > nav > ul > li > ul.alerts li p {
  clear: both;
  margin-bottom: 5px;
}
header > div > nav > ul > li > ul.alerts li time {
  float: left;
  clear: left;
  display: block;
  color: #808080;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
}
header > div > nav > ul > li > ul.alerts li h1 {
  font-size: 16px;
  color: #e42d2a;
  line-height: 16px;
  margin-bottom: 0;
}
header > div > nav > ul > li > ul > li:last-child a {
  border: 0;
}
header > div > nav > ul > li > ul > li a {
  display: block;
  text-decoration: none;
  color: #333333;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  padding: 10px 10px;
  line-height: 18px;
  border-bottom: 1px solid #f2f2f2;
}
header > div > nav > ul > li > ul > li a:hover {
  background-color: rgba(15, 144, 195, 0.1);
}
header > div > nav > ul > li > ul > li a span {
  clear: both;
  display: block;
  color: #808080;
  font-size: 11px;
  line-height: 13px;
}
header > div > nav > ul > li:hover {
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}
header > div > nav > ul > li:hover > ul {
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  z-index: 5000;
}
footer {
  width: 100%;
  padding: 0px;
  background-color: #fafafa;
  border-top: 1px solid #e1e1e1;
}
footer > div {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  padding: 20px 10px 20px;
}
footer > div > p {
  margin-bottom: 5px;
  margin-right: 10px;
  text-align: justify;
  color: #808080;
  font-size: 11px;
  *zoom: 1;
  float: right;
  clear: right;
  width: 73.01587301587301%;
}
footer > div > p:before,
footer > div > p:after {
  content: " ";
  display: table;
}
footer > div > p:after {
  clear: both;
}
footer > div > p a {
  color: #808080;
  text-decoration: underline;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
footer > div > p a:hover {
  color: #4d4d4d;
}
footer > div > nav {
  *zoom: 1;
  margin-bottom: 60px;
}
footer > div > nav:before,
footer > div > nav:after {
  content: " ";
  display: table;
}
footer > div > nav:after {
  clear: both;
}
footer > div > nav > form {
  float: left;
  width: 21.26984126984127%;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}
footer > div > nav > form > input {
  background-color: #e1e1e1;
  height: 30px;
  width: 88.80597014925374%;
  padding: 0px 10px 0 10px;
  border: 1px solid #e1e1e1;
  margin: 0;
  float: left;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
footer > div > nav > form > input:hover {
  background-color: #ededed;
}
footer > div > nav > form > input:focus {
  background-color: #ffffff;
  border: 1px solid #0f90c3;
  outline: none;
}
footer > div > nav > form > button {
  border: 0;
  background-color: #0f90c3;
  color: #FFFFFF;
  text-align: center;
  width: 11.194029850746269%;
  height: 30px;
  margin: 0;
  padding: 0;
  float: left;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
footer > div > nav > form > button:hover {
  background-color: #0b6d94;
}
footer > div > nav > form > button:focus {
  background-color: #18b1ed;
}
footer > div > nav > ul {
  margin: 0;
  padding: 0;
  float: right;
  *zoom: 1;
}
footer > div > nav > ul:before,
footer > div > nav > ul:after {
  content: " ";
  display: table;
}
footer > div > nav > ul:after {
  clear: both;
}
footer > div > nav > ul > li {
  float: left;
  display: block;
  padding: 10px 10px 0 10px;
  line-height: 30px;
  margin: 0;
  height: 50px;
  position: relative;
  cursor: default;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid transparent;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
footer > div > nav > ul > li:hover {
  background-color: #FFFFFF;
}
footer > div > nav > ul > li.user > ul {
  right: -1px;
  left: auto;
}
footer > div > nav > ul > li.user > ul > li > a.logout {
  color: #0f90c3;
}
footer > div > nav > ul > li.user > ul > li > a.logout:hover {
  color: #FFFFFF;
  background-color: #0f90c3;
}
footer > div > nav > ul > li.alertsMenu > span.unread {
  color: #e42d2a;
}
footer > div > nav > ul > li img {
  vertical-align: bottom;
  margin-left: 5px;
}
footer > div > nav > ul > li i {
  margin-right: 5px;
}
footer > div > nav > ul > li > a {
  color: #333333;
  text-decoration: none;
}
footer > div > nav > ul > li > ul {
  position: absolute;
  left: -1px;
  top: 50px;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  background-color: #FFFFFF;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  z-index: -1;
  width: 300px;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}
footer > div > nav > ul > li > ul.alerts li {
  padding: 10px;
  line-height: 16px;
  border-bottom: 1px solid #f2f2f2;
  *zoom: 1;
}
footer > div > nav > ul > li > ul.alerts li:before,
footer > div > nav > ul > li > ul.alerts li:after {
  content: " ";
  display: table;
}
footer > div > nav > ul > li > ul.alerts li:after {
  clear: both;
}
footer > div > nav > ul > li > ul.alerts li:last-child {
  border-bottom: 0;
}
footer > div > nav > ul > li > ul.alerts li:first-child:hover {
  background-color: transparent;
}
footer > div > nav > ul > li > ul.alerts li:hover {
  background-color: rgba(15, 144, 195, 0.1);
}
footer > div > nav > ul > li > ul.alerts li a {
  padding: 0;
  color: #e42d2a;
  border: 0;
  text-align: right;
  font-size: 11px;
  line-height: 13px;
  float: right;
  clear: right;
  display: inline-block;
}
footer > div > nav > ul > li > ul.alerts li a:hover {
  color: #c21b19;
  background-color: transparent;
}
footer > div > nav > ul > li > ul.alerts li p {
  clear: both;
  margin-bottom: 5px;
}
footer > div > nav > ul > li > ul.alerts li time {
  float: left;
  clear: left;
  display: block;
  color: #808080;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
}
footer > div > nav > ul > li > ul.alerts li h1 {
  font-size: 16px;
  color: #e42d2a;
  line-height: 16px;
  margin-bottom: 0;
}
footer > div > nav > ul > li > ul > li:last-child a {
  border: 0;
}
footer > div > nav > ul > li > ul > li a {
  display: block;
  text-decoration: none;
  color: #333333;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  padding: 10px 10px;
  line-height: 18px;
  border-bottom: 1px solid #f2f2f2;
}
footer > div > nav > ul > li > ul > li a:hover {
  background-color: rgba(15, 144, 195, 0.1);
}
footer > div > nav > ul > li > ul > li a span {
  clear: both;
  display: block;
  color: #808080;
  font-size: 11px;
  line-height: 13px;
}
footer > div > nav > ul > li:hover {
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}
footer > div > nav > ul > li:hover > ul {
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  z-index: 5000;
}
footer > div > nav > ul > li {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  position: relative;
}
footer > div > nav > ul > li:hover {
  border-bottom: 1px solid #CCCCCC;
}
footer > div > nav > ul > li:hover:before {
  height: 10px;
  width: 100%;
  position: absolute;
  top: -1px;
  left: 0px;
  background-color: #FFFFFF;
  content: '';
  display: block;
}
footer > div > nav > ul > li > ul {
  top: -235px;
  left: auto;
  right: -1px;
  border-top: 1px solid #CCCCCC;
  border-bottom: 0;
}
footer > div > nav > ul > li > ul > li:last-child {
  border-bottom: 0;
}
footer > div > ul {
  float: right;
  clear: right;
  width: 73.01587301587301%;
  text-align: right;
}
footer > div > ul li {
  display: inline-block;
  margin-left: 20px;
}
footer > div > ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
footer > div > ul li a:hover {
  color: #808080;
}
footer > div > a.logo-footer {
  float: left;
  display: block;
}
footer > div > a.logo-footer img {
  vertical-align: bottom;
}
main {
  padding: 0 10px;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}
main > aside {
  float: left;
  width: 23.809523809523807%;
  padding: 10px;
  background-color: #F0F0F0;
  margin-bottom: 40px;
}
main > article {
  float: right;
  width: 73.01587301587301%;
  background-color: #F0F0F0;
  padding: 10px;
  margin-bottom: 40px;
}
main > article > div {
  *zoom: 1;
}
main > article > div:before,
main > article > div:after {
  content: " ";
  display: table;
}
main > article > div:after {
  clear: both;
}
.button {
  padding: 10px 10px 0;
  color: #FAFAFA;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
  font-family: 'Roboto', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  font-weight: 400;
  height: 40px;
  display: inline-block;
  margin-left: 10px;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  border: 0;
}
.button i {
  margin-left: 5px;
}
.button.warning {
  background-color: #e42d2a;
}
.button.warning:hover {
  background-color: #c21b19;
}
.button.complete {
  background-color: #61a546;
}
.button.complete:hover {
  background-color: #4c8137;
}
.button.action {
  background-color: #0f90c3;
}
.button.action:hover {
  background-color: #0b6d94;
}
nav.tabNav {
  background-color: #FBFBFB;
  height: 40px;
  margin-bottom: 10px;
  clear: both;
  float: none;
  width: 100%;
  border-top: 3px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
}
nav.tabNav > ul {
  position: relative;
  top: -3px;
}
nav.tabNav > ul > li {
  float: left;
}
nav.tabNav > ul > li > a {
  padding: 7px 15px 0 15px;
  height: 39px;
  line-height: 20px;
  text-align: center;
  color: #999999;
  background-color: #FBFBFB;
  border-top: 3px solid #CCCCCC;
  font-size: 12px;
  display: block;
  text-decoration: none;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
nav.tabNav > ul > li > a:hover {
  background-color: #FDFDFD;
  border-top: 3px solid #666666;
  color: #666666;
}
nav.tabNav > ul > li > a:focus {
  outline: none;
}
nav.tabNav > ul > li > a.active {
  background-color: #FFFFFF;
  border-top: 3px solid #0f90c3;
  color: #333333;
}
nav.tabNav > ul > li > a.active:hover {
  background: #f7f7f7;
  border-top: 3px solid #11a1db;
  color: #0f90c3;
}
nav.controlsNav {
  background-color: #FBFBFB;
  height: 40px;
  margin-bottom: 10px;
  clear: both;
  float: none;
  width: 100%;
  border-top: 3px solid #0f90c3;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
  padding: 0 10px;
}
nav.controlsNav > ul {
  *zoom: 1;
  height: 36px;
  overflow-x: hidden;
}
nav.controlsNav > ul:before,
nav.controlsNav > ul:after {
  content: " ";
  display: table;
}
nav.controlsNav > ul:after {
  clear: both;
}
nav.controlsNav > ul > li {
  float: left;
  margin-right: 20px;
  height: 36px;
  padding-top: 7px;
  position: relative;
}
nav.controlsNav > ul > li.bin {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}
nav.controlsNav > ul > li.bin a {
  padding-left: 20px;
  width: 0;
}
nav.controlsNav > ul > li.bin a i {
  position: absolute;
  right: 0;
  top: 10px;
}
nav.controlsNav > ul > li.bin a:hover {
  width: 90px;
}
nav.controlsNav > ul > li a {
  display: block;
  text-decoration: none;
  color: #333333;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
nav.controlsNav > ul > li a i {
  font-size: 14px;
  padding-right: 2px;
}
nav.controlsNav > ul > li a:hover {
  color: #0f90c3;
  width: 65px;
}
nav.controlsNav > ul > li a:focus {
  outline: none;
}
ul.tree {
  margin: 0;
  padding: 0;
  position: relative;
}
ul.tree:last-child > li:last-child {
  margin-bottom: 0;
}
ul.tree > li {
  position: relative;
}
ul.tree > li.active > nav {
  background-color: #0f90c3;
}
ul.tree > li.active > nav:hover {
  background-color: #0b6d94;
}
ul.tree > li > nav {
  background-color: #4d4d4d;
  color: #FFFFFF;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #FFFFFF;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  *zoom: 1;
  cursor: pointer;
}
ul.tree > li > nav:before,
ul.tree > li > nav:after {
  content: " ";
  display: table;
}
ul.tree > li > nav:after {
  clear: both;
}
ul.tree > li > nav:hover {
  background-color: #333333;
}
ul.tree > li > nav h1 {
  font-size: 14px;
  line-height: 20px;
  float: left;
  width: 57.692307692307686%;
}
ul.tree > li > nav h1 i {
  margin-right: 5px;
}
ul.tree > li > nav ul.treeSectionControls {
  margin: 0;
  padding: 0;
  *zoom: 1;
  float: right;
}
ul.tree > li > nav ul.treeSectionControls:before,
ul.tree > li > nav ul.treeSectionControls:after {
  content: " ";
  display: table;
}
ul.tree > li > nav ul.treeSectionControls:after {
  clear: both;
}
ul.tree > li > nav ul.treeSectionControls li {
  display: inline-block;
  margin-left: 10px;
}
ul.tree > li > nav ul.treeSectionControls li a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
ul.tree > li > nav ul.treeSectionControls li a:hover {
  color: #cccccc;
}
ul.tree > li > ul {
  margin: 0;
  padding: 15px 10px;
  background-color: #FFFFFF;
  position: relative;
}
ul.tree > li > ul > li {
  margin-bottom: 10px;
  position: relative;
}
ul.tree > li > ul > li a {
  display: block;
  text-decoration: none;
  color: #333333;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
ul.tree > li > ul > li a:focus {
  outline: none;
}
ul.tree > li > ul > li a i {
  margin-right: 5px;
}
ul.tree > li > ul > li a:hover {
  color: #999999;
}
ul.tree > li > ul > li a.deleted {
  color: #e42d2a;
  text-decoration: line-through;
}
ul.tree > li > ul > li a.deleted:hover {
  color: #c21b19;
}
ul.tree > li > ul > li a.noMenu.published {
  color: #AAAAAA;
}
ul.tree > li > ul > li a.noMenu.published:hover {
  color: #919191;
}
ul.tree > li > ul > li > ul {
  margin-left: 15px;
  margin-top: 5px;
}
ul.tree > li > ul > li > ul > li {
  margin-bottom: 5px;
}
ul.tree > li > ul > li > ul > li > ul {
  margin-left: 30px;
}
ul.tree > li > ul > li > ul > li > ul > li > ul {
  margin-left: 45px;
}
#resourceEdit > nav {
  float: right;
  margin-bottom: 10px;
}
#resourceEdit > nav > ul > li {
  *zoom: 1;
}
#resourceEdit > nav > ul > li:before,
#resourceEdit > nav > ul > li:after {
  content: " ";
  display: table;
}
#resourceEdit > nav > ul > li:after {
  clear: both;
}
#resourceEdit > h1 {
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
#documentSettings,
#quickEdit {
  padding: 10px;
}
#documentSettings form fieldset,
#quickEdit form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  width: 47.4025974025974%;
}
#documentSettings form fieldset.l,
#quickEdit form fieldset.l {
  float: left;
}
#documentSettings form fieldset.r,
#quickEdit form fieldset.r {
  float: right;
}
#documentSettings form fieldset.c,
#quickEdit form fieldset.c {
  width: 100%;
  position: relative;
  float: none;
  clear: both;
}
#documentSettings form p,
#quickEdit form p {
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
}
#documentSettings form input,
#quickEdit form input,
#documentSettings form textarea,
#quickEdit form textarea,
#documentSettings form select,
#quickEdit form select,
#documentSettings form .dropdownatron-container,
#quickEdit form .dropdownatron-container {
  height: 40px;
  width: 100%;
  line-height: 23px;
  border: 1px solid #CCCCCC;
  padding: 10px 10px 7px 10px;
  background-color: #FFFFFF;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  font-family: 'Roboto', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  font-size: 18px;
  position: relative;
}
#documentSettings form input:focus,
#quickEdit form input:focus,
#documentSettings form textarea:focus,
#quickEdit form textarea:focus,
#documentSettings form select:focus,
#quickEdit form select:focus,
#documentSettings form .dropdownatron-container:focus,
#quickEdit form .dropdownatron-container:focus {
  border-color: #0f90c3;
  outline: none;
}
#documentSettings form input:hover,
#quickEdit form input:hover,
#documentSettings form textarea:hover,
#quickEdit form textarea:hover,
#documentSettings form select:hover,
#quickEdit form select:hover,
#documentSettings form .dropdownatron-container:hover,
#quickEdit form .dropdownatron-container:hover {
  border-color: #999999;
}
#documentSettings form .dropdownatron-container:hover .dropdownatron-select,
#quickEdit form .dropdownatron-container:hover .dropdownatron-select {
  color: #333333;
}
#documentSettings form .dropdownatron-container.shown .dropdownatron-select:after,
#quickEdit form .dropdownatron-container.shown .dropdownatron-select:after {
  content: '';
}
#documentSettings form .dropdownatron-selected,
#quickEdit form .dropdownatron-selected {
  cursor: pointer;
}
#documentSettings form .dropdownatron-select,
#quickEdit form .dropdownatron-select {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 20px;
  height: 20px;
  display: block;
  color: #CCCCCC;
}
#documentSettings form .dropdownatron-select:after,
#quickEdit form .dropdownatron-select:after {
  content: '';
  display: block;
  font-family: 'FontAwesome';
  font-size: 20px;
  line-height: 20px;
}
#documentSettings form .dropdownatron-options,
#quickEdit form .dropdownatron-options {
  position: absolute;
  z-index: 5000;
  width: 100%;
  top: 39px;
  left: 0;
  background: #FFFFFF;
  outline: 1px solid #999999;
}
#documentSettings form .dropdownatron-options li,
#quickEdit form .dropdownatron-options li {
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}
#documentSettings form .dropdownatron-options li:last-child,
#quickEdit form .dropdownatron-options li:last-child {
  border-bottom: 0;
}
#documentSettings form .dropdownatron-options li:hover,
#quickEdit form .dropdownatron-options li:hover {
  background: #ededed;
}
#documentSettings form textarea,
#quickEdit form textarea {
  height: 100px;
  font-size: 14px;
  resize: none;
}
#documentSettings form textarea#pageDescription,
#quickEdit form textarea#pageDescription {
  padding-right: 50px;
}
#documentSettings form select,
#quickEdit form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 8px 10px 10px 10px;
  position: relative;
}
#documentSettings form input#pageTitle,
#quickEdit form input#pageTitle {
  padding-right: 40px;
}
#documentSettings form label,
#quickEdit form label {
  display: block;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}
#documentSettings form .checkboxes,
#quickEdit form .checkboxes {
  *zoom: 1;
  width: 50%;
  float: left;
}
#documentSettings form .checkboxes:before,
#quickEdit form .checkboxes:before,
#documentSettings form .checkboxes:after,
#quickEdit form .checkboxes:after {
  content: " ";
  display: table;
}
#documentSettings form .checkboxes:after,
#quickEdit form .checkboxes:after {
  clear: both;
}
#documentSettings form .checkboxes p,
#quickEdit form .checkboxes p {
  *zoom: 1;
  margin-bottom: 10px;
}
#documentSettings form .checkboxes p:before,
#quickEdit form .checkboxes p:before,
#documentSettings form .checkboxes p:after,
#quickEdit form .checkboxes p:after {
  content: " ";
  display: table;
}
#documentSettings form .checkboxes p:after,
#quickEdit form .checkboxes p:after {
  clear: both;
}
#documentSettings form .checkboxes label,
#quickEdit form .checkboxes label {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
}
#documentSettings form .checkboxes input[type=checkbox],
#quickEdit form .checkboxes input[type=checkbox] {
  width: 14px;
  height: 14px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  top: 2px;
}
#documentSettings form .checkboxes input[type=checkbox]:focus,
#quickEdit form .checkboxes input[type=checkbox]:focus {
  border-color: #CCCCCC;
}
#documentSettings form .checkboxes input[type=checkbox]:checked,
#quickEdit form .checkboxes input[type=checkbox]:checked {
  border-color: #0f90c3;
}
#documentSettings form .checkboxes input[type=checkbox]:checked:after,
#quickEdit form .checkboxes input[type=checkbox]:checked:after {
  content: '×';
  display: block;
  width: 14px;
  height: 14px;
  color: #0f90c3;
  position: absolute;
  top: -1px;
  left: 2px;
  line-height: 14px;
  font-size: 14px;
}
#pageTitleCharsRemain,
#quickPageTitleCharsRemain {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
  line-height: 20px;
  color: #CCCCCC;
}
#pageTitleCharsRemain.limit,
#quickPageTitleCharsRemain.limit {
  color: #e42d2a;
}
#pageDescCharsRemain,
#quickPageDescCharsRemain {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  color: #CCCCCC;
  background-color: #FFFFFF;
  line-height: 20px;
}
#pageDescCharsRemain.limit,
#quickPageDescCharsRemain.limit {
  color: #e42d2a;
}
#contentArea {
  *zoom: 1;
  clear: both;
  width: 100%;
}
#contentArea:before,
#contentArea:after {
  content: " ";
  display: table;
}
#contentArea:after {
  clear: both;
}
ul.typeAhead {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 300px;
  background-color: #FFFFFF;
  display: none;
  z-index: 5000;
  border: 1px solid #CCCCCC;
}
header ul.typeAhead {
  left: 20px;
}
ul.typeAhead > li {
  *zoom: 1;
  padding: 10px 10px 10px 10px;
  border-left: 100px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  cursor: pointer;
  background: #fafafa;
}
ul.typeAhead > li:before,
ul.typeAhead > li:after {
  content: " ";
  display: table;
}
ul.typeAhead > li:after {
  clear: both;
}
ul.typeAhead > li:hover {
  background: #0f90c3;
  color: #FFFFFF;
  border-left: 100px solid #0f90c3;
  border-bottom: 1px solid #0f90c3;
}
ul.typeAhead > li:hover span.desc,
ul.typeAhead > li:hover span.type {
  color: #FFFFFF;
}
ul.typeAhead > li p {
  margin-bottom: 5px;
}
ul.typeAhead > li span {
  display: block;
}
ul.typeAhead > li span.desc {
  color: #aeaeae;
  color: #808080;
  font-size: 11px;
  line-height: 13px;
}
ul.typeAhead > li span.type {
  width: 40%;
  text-align: right;
  color: #808080;
  font-size: 11px;
  line-height: 13px;
  position: absolute;
  top: 12px;
  right: 210px;
}
#rightClickMenu {
  position: absolute;
  top: 20px;
  left: 0;
  display: none;
  background-color: #fafafa;
  border: 1px solid #CCCCCC;
  width: 200px;
  z-index: 3000;
}
#rightClickMenu li:last-child a {
  border-bottom: 0;
}
#rightClickMenu li a {
  color: #333333;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ededed;
}
#rightClickMenu li a:hover {
  background-color: rgba(15, 144, 195, 0.1);
}
.md-modal {
  width: 70%;
  max-width: 800px;
  min-width: 300px;
}
.md-content {
  color: #333333;
  background: #fafafa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 20px;
  border: 1px solid #CCCCCC;
}
.md-content form {
  margin-bottom: 10px;
}
.md-content nav.controls {
  text-align: right;
}
.md-content h1 {
  margin-bottom: 20px;
}
.md-content button {
  font-size: 14px;
  display: inline-block;
  margin-left: 10px;
  font-family: 'Roboto', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  padding-bottom: 10px;
}
.md-content button:focus {
  outline: none;
}
.md-overlay {
  background: rgba(15, 144, 195, 0.6);
}
@media only screen and (min-width: 881px) and (max-width: 1064px) {
  body {
    font-size: 13px;
  }
  header > div .modxLogo {
    background-size: 100% auto;
    background-position: center center;
    width: 2.421875%;
  }
  header > div > form {
    display: none;
  }
  header > div > form > button {
    font-size: 12px;
  }
  header > div > nav {
    width: 92.8125%;
    margin-left: 1.5625%;
  }
  nav.tabNav > ul > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
  nav.controlsNav > ul {
    overflow-x: hidden;
  }
  nav.controlsNav > ul > li a {
    font-size: 11px;
    width: 13px;
  }
  nav.controlsNav > ul > li a i {
    font-size: 12px;
    padding-right: 2px;
  }
  nav.controlsNav > ul > li a:hover {
    width: 13px;
  }
  nav.controlsNav > ul > li:last-child a {
    width: 10px;
  }
  nav.controlsNav > ul > li:last-child a:hover {
    width: 10px;
  }
  #documentSettings form .checkboxes label {
    font-size: 12px;
  }
  ul.tree > li > nav h1 {
    width: 100%;
    font-size: 13px;
  }
  ul.tree > li > nav ul.treeSectionControls {
    display: none;
  }
  ul.tree > li > ul {
    overflow-x: scroll;
  }
}
@media only screen and (min-width: 731px) and (max-width: 880px) {
  body {
    font-size: 13px;
  }
  header > div .modxLogo {
    background-size: 100% auto;
    background-position: center center;
    width: 2.421875%;
  }
  header > div > form {
    display: none;
  }
  header > div > nav {
    width: 92.8125%;
    margin-left: 1.5625%;
  }
  header > div > nav > ul > li.user img {
    display: none;
  }
  nav.tabNav > ul > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
  ul.tree > li > nav h1 {
    width: auto;
    font-size: 13px;
  }
  ul.tree > li > nav ul.treeSectionControls {
    display: none;
  }
  ul.tree > li > ul {
    overflow-x: scroll;
  }
  main article,
  main aside {
    float: none;
    clear: both;
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 730px) {
  body {
    font-size: 13px;
  }
  header {
    height: auto;
  }
  header > div > nav {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    float: none;
    clear: both;
    background-color: #333333;
    color: #FFFFFF;
  }
  header > div > nav > ul {
    *zoom: 1;
    height: auto;
    width: 100%;
  }
  header > div > nav > ul:before,
  header > div > nav > ul:after {
    content: " ";
    display: table;
  }
  header > div > nav > ul:after {
    clear: both;
  }
  header > div > nav > ul.userNav,
  header > div > nav > ul.siteNav {
    float: none;
  }
  header > div > nav > ul > li {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    padding-bottom: 10px;
  }
  header > div > nav > ul > li:hover {
    color: #FFFFFF;
    background-color: #666666;
  }
  header > div > nav > ul > li:hover > ul {
    z-index: auto;
  }
  header > div > nav > ul > li.alertsMenu > span.unread {
    color: #FFFFFF;
  }
  header > div > nav > ul > li a {
    color: #FFFFFF;
  }
  header > div > nav > ul > li a:hover {
    color: #FFFFFF;
  }
  header > div > nav > ul > li > ul {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    z-index: auto;
    width: 100%;
    border: 1px solid #CCCCCC;
    margin-top: 10px;
    background-color: #FFFFFF;
    color: #333333;
  }
  header > div > nav > ul > li > ul > li {
    display: block;
    width: 100%;
  }
  header > div > nav > ul > li > ul > li a:hover {
    color: #333333;
  }
  header > div > form {
    width: 268px;
  }
  nav.tabNav {
    height: auto;
  }
  nav.tabNav > ul {
    *zoom: 1;
  }
  nav.tabNav > ul:before,
  nav.tabNav > ul:after {
    content: " ";
    display: table;
  }
  nav.tabNav > ul:after {
    clear: both;
  }
  nav.tabNav > ul > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
  #documentSettings {
    padding-left: 0;
    padding-right: 0;
  }
  #documentSettings form .checkboxes label {
    font-size: 13px;
  }
  #documentSettings form fieldset {
    width: 100%;
  }
  #documentSettings form fieldset.l,
  #documentSettings form fieldset.r {
    float: none;
  }
  ul.tree > li > nav h1 {
    width: 100%;
    font-size: 13px;
  }
  ul.tree > li > nav ul.treeSectionControls {
    display: none;
  }
  ul.tree > li > ul {
    overflow-x: scroll;
  }
  main {
    padding: 0;
  }
  main article,
  main aside {
    float: none;
    clear: both;
    width: 100%;
  }
  footer > div > nav > form {
    width: 268px;
  }
  footer > div p {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 550px) {
  .button {
    margin-left: 0;
    float: left;
    padding: 9px;
  }
  #resourceEdit > nav {
    float: none;
    clear: both;
    margin-bottom: 20px;
  }
  #resourceEdit > h1 {
    float: none;
    clear: both;
    margin-bottom: 20px;
    margin-left: 0;
    margin-top: 0;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
