//----------------------------------------------------
//            iPad landscape, small desktop
//----------------------------------------------------

@media only screen and (min-width: 881px) and (max-width: 1064px) {
    body {
        font-size: 13px;
    }

    header {
        > div {
            .modxLogo {
                background-size: 100% auto;
                background-position: center center;
                width: (31/1280)*100%
            }

            > form {
                display: none;

                > button {
                    font-size: 12px;
                }
            }

            > nav {
                width: (1188/1280)*100%;
                margin-left: (20/1280)*100%;
            }
        }
    }

    nav.tabNav {
        > ul {
            > li {
                > a {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    nav.controlsNav {
        > ul {
            overflow-x: hidden;

            > li {
                a {
                    font-size: 11px;
                    width: 13px;

                    i {
                        font-size: 12px;
                        padding-right: 2px;
                    }

                    &:hover {
                        width: 13px;
                    }
                }

                &:last-child {
                    a {
                        width: 10px;

                        &:hover {
                            width: 10px;
                        }
                    }
                }
            }
        }
    }

    #documentSettings {
        form {
            .checkboxes {
                label {
                    font-size: 12px;
                }
            }
        }
    }

    ul.tree {
        > li {
            > nav {
                h1 {
                    width: 100%;
                    font-size: 13px;
                }

                ul.treeSectionControls {
                    display: none;
                }
            }

            > ul {
                overflow-x: scroll;
            }
        }
    }
}
